Flask==1.0.2
flask_environments==0.1
google-cloud-storage==1.13.2
gunicorn==19.9.0
six==1.11.0
soundfile==0.10.2
librosa==0.6.3
google-cloud-speech==0.36.3
google-cloud-translate==1.4.0
grpcio==1.20.1
googleapis-common-protos==1.5.3