{% extends "layout.html" %}

{% block title %}{{ filename }}{% endblock %}

{% block body %}
<h2 class="text-center">Edit</h2>
<form method="POST">
  <div class="title" style="font-size:30px;">
    <label for="title"><b>{{ filename }}</b></label>
  </div>
  <div class="row">
    <div class="col-3 subtitle">Start time</div>
    <div class="col-3 subtitle">End time</div>
    <div class="col-6 subtitle">Content</div>
  </div>
  <div class="form-group" style="overflow-y: scroll; height: 350px; overflow-x:hidden;">

    {% for sentence in dict_object['sentences']%}
    <div class="row">
      <div class="col-3"> <textarea class="form-control" id="line" name="start_time" rows="2" required
          style="resize:none;">{{sentence['timestamp']['start_time']}}</textarea></div>
      <div class="col-3"> <textarea class="form-control" id="line" name="end_time" rows="2" required
          style="resize:none;">{{sentence['timestamp']['end_time']}}</textarea></div>
      <div class="col-6" style="padding-right:0;"> <textarea class="form-control" id="line" name="content" rows="2" required
          style="resize:none;">{{sentence['content']}}</textarea>
      </div>
    </div>
    {%endfor%}
  </div>
  <button class="btn btn-primary submit-btn" type="submit" href="/edit">Update</button>
</form>
{% endblock %}